<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="meta.midea"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:name=".MyApplication"
        android:icon="@drawable/icon"
        android:label="@string/main_name" >
        <activity
            android:name=".StartPageActivity"
            android:label="@string/main_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelLinkType"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SelWifi"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SelModeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".login.ActivationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".login.RegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".login.BindActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".login.IntLoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".login.LinkingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".login.MyServerListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".event.EventActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".event.HelpActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".event.ErrInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/activityTheme" >
        </activity>
        <activity
            android:name=".main.DemoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".main.ReserveSetActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/activityTheme" >
        </activity>
        <activity
            android:name=".main.NoNetworkActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/activityTheme" >
        </activity>
        <activity
            android:name=".set.SetFaceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".set.SetLinkActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".set.SetVersionActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".set.SetStartActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".set.SetUserActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".set.SetRefreshActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".set.SetHelpActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".set.SetHelpInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".set.SetHelpOpeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".set.SetErrActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name=".service.MyService"
            android:exported="true" >
        </service>
    </application>

</manifest>